*{
    margin: 0px;
    padding: 0px;
}
.box{
    background-color: aliceblue; border: 1px solid black;
    height: 300px;
    width: 200px;
}
.content{
    background: url("./img1/submenu.gif") no-repeat;
    list-style-type: none;
    text-align: left;
    margin-top: 1px;
    font-size: small;
    margin-right: 50px;
}
.head{
    list-style-image: url("./img1/title_icon.gif");
    margin-right: 50px;
    margin-top: 20px;
    position: relative;
    list-style-position: inside;
}
