*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.title{


    height: 72px;
    width: 1100px;
    margin: 0px auto;
}

.head{

    background-color: #e5f1fb;
    height: 35px;
    width: 788px;
    float: right;
    margin-top: 35px;
    color: #1b5fad;
}
label1 ul li{
    float: left;
    margin-top: 7px;
    margin-left: 40px;
    font-size: x-small;
}
.first{
    text-indent: 20em;
}
.content{
    height: 400px;
    width: 1100px;
    margin: 0px auto;
    margin-top: 10px;
    position: relative;
    left: 100px;
}
.imgwork{
    margin-top: 30px;
}
.head1{
    color: blue;
    font-size: large;
}
.info{
    height: 100px;
    width: 250px;
    float: right;
    margin-top: 30px;
    margin-right: 600px;
}
.comp{
    position: relative;
    top: 50px;
}
.table{
    border: 1px solid #a1cefd;
    height: 300px;
    width: 320px;
    float: right;
    position: relative;
    bottom: 230px;
    right: 200px;
    box-shadow: 5px 5px 5px #ebf4fb;
}
.login{
    height: 30px;
    width: 300px;
    font-weight: bold;
    position: relative;
    left: 10px;
    border-bottom: 1px solid black;
}
.login ul li{
    float: left;
    line-height: 30px;
}
.logword{
    text-indent: 2em;
}
.loginfo{
    height: 200px;
    width: 300px;
    position: relative;
    left: 10px;
    border-bottom: dashed 1px black;
}

.logfirst ul li{
    float: left;
    position: relative;
    right: 34px;
    top: 20px;
}
.logsecond ul li{
    float: left;
    position: relative;
    left: 20px;
    top: 25px;

}
.logthird ul li{
    position: relative;
    right: 110px;
    top: 60px;
    float: left;
 }
.logforth ul li{
    position: relative;
    top: 80px;
    left: 55px;
}
a3{
    position: relative;
    left: 30px;
}
a1{
    position: relative;
    left: 100px;
}
.forget{
    height: 30px;
    width: 300px;
    color: #1b5fad;
    position: relative;
    left: 10px;
    line-height: 30px;
}
.forget ul li{
    float: left;
    position: relative;
    left: 80px;
}
.foot{
    width: 1100px;
    height: 100px;
    margin: 0px auto;
}
.foothead{
    background-color: #e5f1fb;
    width: 1100px;
    height: 50px;
    line-height: 50px;
    margin: 0px auto;
    color: #1b5fad;
}
.foothead ul li{
    margin: 0px auto;
    float: left;
    position: relative;
    left: 230px;
    text-indent: 40px;
}
.footfoot{
    width: 1100px;
    height: 50px;
    line-height: 50px;
    margin: 0px auto;
    color: #aaaaaa;
 }
.footfoot ul li{
    margin: 0px auto;
    float: left;
    position: relative;
    left: 400px;
}
a2{
    position: relative;
    left: 20px;
}