.heart{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    font-size: 200px;
    color: red;
    animation:pound 0.75s infinite;
}
@keyframes pound {
    from { transform: none; }
    50% { font-size: 300px; }
    to { transform: none; }
}